.home-signup-container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.home-signup-container.desktop {
    padding: 0 calc(4rem * 2);
  }

.home-signup-container.desktop img {
      min-width: 750px;
    }

.home-signup-container img {
    object-fit: contain;
    max-width: 80%;
  }

.home-signup-container h2 {
    text-align: center;
    margin: 0 4rem;
  }
