.App {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.App {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #000;
    width: 100%;
  }

.App input {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #000;
    width: 100%;
  }

.App form {
    width: 100%;
  }

.App input[type='text'] {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1.5rem 0 0;
    background: none;
    border: none;
    border-bottom: 1px solid #617478;
  }

.App input[type='text']:focus {
      border-bottom: 1px solid black;
    }

.App button {
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    background: #ffdd34;
    font-size: 0.8125rem;
    font-weight: 800;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    min-width: 220px;
    margin: 0.6rem 0;
  }

.App input[type='button'] {
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    background: #ffdd34;
    font-size: 0.8125rem;
    font-weight: 800;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    min-width: 220px;
    margin: 0.6rem 0;
  }

.App button:disabled {
      color: #c1a930;
    }

.App input[type='button']:disabled {
      color: #c1a930;
    }

.App .radio-input.p-radiobutton .p-radiobutton-box.p-highlight {
          border-color: #ffd400;
          background-color: #ffd400;
        }

.App .radio-input.p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
          border-color: black;
          background-color: #ffdd34;
        }

.App .checkbox-input.p-checkbox .p-checkbox-box.p-highlight {
          border-color: #ffd400;
          background-color: #ffd400;
        }

.App .checkbox-input.p-checkbox .p-checkbox-box.p-highlight:not(.p-disabled):hover {
          border-color: black;
          background-color: #ffdd34;
        }

.App .form-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin: 2rem 0 0;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
  }

.App .form-group > p {
      color: #386573;
      margin: 0 0 1.2rem;
    }

.App .input-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
  }

.App .input-group > label {
      margin-right: 2rem;
      margin-left: 0.7rem;
    }

.App .weak {
    color: #386573;
  }

.App ::-webkit-input-placeholder {
    color: #386573;
    font-size: 1rem;
  }

.App ::-moz-placeholder {
    color: #386573;
    font-size: 1rem;
  }

.App :-ms-input-placeholder {
    color: #386573;
    font-size: 1rem;
  }

.App ::-ms-input-placeholder {
    color: #386573;
    font-size: 1rem;
  }

.App ::placeholder {
    color: #386573;
    font-size: 1rem;
  }

.App .main-container {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
  }

.App h1 {
    margin-bottom: 0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-style: normal;
    white-space: nowrap;
  }

.App h2 {
    margin-bottom: 0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-style: normal;
    white-space: nowrap;
  }

.App h3 {
    margin-bottom: 0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-style: normal;
    white-space: nowrap;
  }

.App h1 {
    font-size: 2.5rem;
    text-align: center;
    line-height: 3rem;
  }

.App h2 {
    margin-top: 0;
    text-transform: uppercase;
  }

.App h3 {
    font-size: 1rem;
  }

.App small {
    font-size: 0.7rem;
    font-weight: 200;
  }

.App textarea,
  .App select,
  .App input,
  .App button {
    outline: none;
  }

.App.desktop h2 {
      font-size: 2rem;
    }

.App.mobile h1 {
      font-size: 1.8rem;
    }

.App.mobile h2 {
      font-size: 1.8rem;
      white-space: normal;
    }
