@import '../../../variables.pcss';

.bottom-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 3rem;
  margin-top: var(--pageMargin);
  background: rgb(14, 176, 226);
  background: linear-gradient(
    55deg,
    rgba(14, 176, 226, 1) 0%,
    rgba(131, 225, 255, 1) 75%
  );

  .bottom-content {
    font-size: 0.6rem;
    color: var(--weakColor);
  }
}
