.bottom-container {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  overflow: hidden;
  height: 3rem;
  margin-top: 4rem;
}

.bottom-container .bottom-content {
    font-size: 0.6rem;
    color: #386573;
  }
