@import '../../../variables.pcss';

.bottom-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 3rem;
  margin-top: var(--pageMargin);
  .bottom-content {
    font-size: 0.6rem;
    color: var(--weakColor);
  }
}
