.top-container {
  width: 300%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  overflow: hidden;
}

.top-container:not(.sign-up) {
    height: 95vh;
  }

.top-container .top-background {
    width: 33.3%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    background: rgb(14, 176, 226);
    background: -webkit-linear-gradient(
      35deg,
      rgba(14, 176, 226, 1) 0%,
      rgba(131, 225, 255, 1) 75%
    );
    background: linear-gradient(
      55deg,
      rgba(14, 176, 226, 1) 0%,
      rgba(131, 225, 255, 1) 75%
    );
  }

.top-container .top-background.desktop {
      padding: 0 2rem;
    }

.top-container .top-background.mobile {
      padding: 3rem 2rem 4rem;
    }
