@import '../../../variables.pcss';

.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 85%;

  &.mobile {
    padding-top: 1.5rem;
    align-items: center;
  }

  .text-input {
    &.mobile {
      width: 100%;
    }
  }
}
