@import '../../../variables.pcss';

.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 80%;

  &.mobile {
    padding-top: 1.5rem;
    align-items: center;
  }

  .text-input {
    background: none;
    border: none;
    border-bottom: 1px solid black;
    margin: 1.2rem 0;

    &.mobile {
      width: 100%;
    }
  }

  .button {
    width: 80%;
    margin: 0.6rem 0;
  }
}
