.sign-up-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 90%;
  padding-top: 1.5rem;
}

.sign-up-container.desktop {
    max-width: 350px;
  }

.sign-up-container .text-input.mobile {
      width: 100%;
    }

.sign-up-container .button {
    display: block;
  }

.sign-up-container .button:disabled {
      cursor: auto;
    }

.sign-up-container .button.desktop {
      margin: 2rem 0 0;
      width: 70%;
    }

.sign-up-container .button.mobile {
      width: 60%;
      margin: 2rem auto 0;
    }
