.sign-up-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  width: 85%;
}

.sign-up-container.mobile {
    padding-top: 1.5rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
  }

.sign-up-container .text-input.mobile {
      width: 100%;
    }
