@import "../../../variables.pcss";

.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-top: 1.5rem;

  &.desktop {
    max-width: 350px;
  }

  .text-input {
    &.mobile {
      width: 100%;
    }
  }

  .button {
    display: block;

    &:disabled {
      cursor: auto;
    }

    &.desktop {
      margin: 2rem 0 0;
      width: 70%;
    }
    &.mobile {
      width: 60%;
      margin: 2rem auto 0;
    }
  }
}
