@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800|Montserrat:400,900');
@import url('https://use.typekit.net/nkq8bfq.css');
@import 'variables.pcss';

html {
  box-sizing: border-box;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  &,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
  }

  #root {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
