:root {
  --montserratFontFamily: Montserrat, 'Helvetica Neue', sans-serif;
  --openSansFontFamily: 'Open Sans', 'Helvetica Neue', sans-serif;
  --darkColor: #000;
  --weakColor: #386573;
  --yellow: #ffdd34;
  --pageMargin: 4rem;
}
