:root {
  --montserratFontFamily: Montserrat, 'Helvetica Neue', sans-serif;
  --openSansFontFamily: 'Open Sans', 'Helvetica Neue', sans-serif;
  --weakColor: #736438;
  --red: #e80010;
  --pageMargin: 4rem;
}
