@import "../../../variables.pcss";

.home-signup-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    cursor: pointer;
  }

  &.desktop {
    margin-top: 8em;
    padding: 0 calc(var(--pageMargin) * 2);

    img {
      min-width: 750px;
    }
  }

  img {
    margin-top: 3em;
    object-fit: contain;
    max-width: 90%;
  }
}
